:root {
  --primary-color: #9867ff;
  --secondary-color: #222737;
  --white-color: #ffffff;
  --gray-color: #7d7d7d;
  --green-color: #00d085;
  --blue-color: #267dff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Sora; */
}
/* About Page CSS */
.primary-colors{
  color: var(--primary-color) !important;
}
.bg-primary-color{
  background-color: var(--primary-color) !important;
}
.secondary-colors{
  color: var(--secondary-color);
}
.Gray-colors{
  color: var(--gray-color) !important;
}
.btn-icon-transform{
  transform: rotate(-45deg);
}
.bg-Image{
  background-image: url('../images/About_Page_Images/Background.png');
  background-repeat: no-repeat;
  background-size: cover;
}
/* Blog Detail Page CSS */
.search-box {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}
.categories ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
}
.comment-section h4 {
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 20px;
}
.comment {
  display: flex;
  align-items:start;
  gap: 15px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.comment img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.comment-content {
  flex: 1;
}
.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment-header h6 {
  font-weight: bold;
  margin: 0;
}
.comment-text {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}
.reply-btn {
  background-color: #7a5ff4;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  font-size: 12px;
  cursor: pointer;
}

.reply-form {
  margin-top: 30px;
}

.reply-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.reply-form button {
  background-color: #7a5ff4;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
}
.reply-form button:hover {
  background-color: #5e44c3;
}