:root {
  --primary-color: #9867ff;
  --secondary-color: #222737;
  --white-color: #ffffff;
  --gray-color: #7d7d7d;
  --green-color: #00d085;
  --blue-color: #267dff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* this is the beginning of 404 page*/
#errorBody{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.errorMain { 
  width: 400px;
  height: 362px;
 
}

.header {
  color: var(--primary-color);
  font-size: 140px ;
  font-family: Sora;
  text-align: center;
  margin-top: 30px ;
  margin: 0;
  
}

.heading2{
  font-size: 24px;
  color: #222737;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  margin-top: 30px;
}

.para{
  color:  #7D7D7D;
  line-height: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.back_button{
  text-align: center;
  display: inline-block;
  background-color: var(--primary-color);
  color: white;
  padding: 10px 30px 08px 5px;
  border-radius: 25px;
  text-decoration: none;
  margin-right: 20px;
}

.back_button span{
  display: inline-block;
  
  color: var(--primary-color);
  size: 3px;
  background-color: var(--white-color);
  margin-right: 10px;
  margin-left: 02px;
  width: 30px;
  height: 30px;
  left: 6px;
  top: 6px;
  align-content: center;
  transform: rotate(320deg);
  border-radius: 18px;
}
/* this is the end of 404 page*/

/* this is the beginning of FAQ page*/

.faqMain {
  display: flex;
}

.faqEnd {
  height: 532px;
  text-align: center;
  background: url('/Assets/images/faq/faqBackground.png') ;
  margin-bottom: 50px;
}

.start-button{
  text-align: center;
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 10px 30px 08px 5px;
  border-radius: 25px;
  text-decoration: none;
  margin-right: 20px;
  font-family: Arial, sans-serif;
}

.start-button span{
  display: inline-block;
  color: var(--primary-color);
  background-color: var(--white-color);
  margin-right: 10px;
  margin-left: 02px;
  width: 30px;
  height: 30px;
  left: 6px;
  top: 6px;
  align-content: center;
  transform: rotate(320deg);
  border-radius: 18px;
}

/* this is the Ending of FAQ page*/


/* this is the beginning of FAQ page*/





/* this is the Ending of Case Studies page*/